@media (max-width: 1024px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
    .header {
        &__official {
            font-size: 11px;
            span {
                font-size: 16px;
            }
        }
    }
    .promo {
        &__header {
            font-size: 40px;
        }
        &__subheader {
            font-size: 23px;
        }
    }
    .advantages {
        &__item {
            width: 220px;
        }
    }
    .title {
        &_white {
            font-size: 30px;
        }
    }
    .consultation {
        min-height: 660px;
        padding: 80px 10px 80px;
    }
    .catalog {
        &__content {
            justify-content: center;
        }
        &__catalog-item {
            &:nth-child(3n) {
                margin-right: 20px;
            }
            &:nth-child(2n) {
                margin-right: 0;
            }
        }
    }
    .comments {
        &__item {
            padding-left: 10px;
        }
        &__descr {
            padding-right: 10px;
        }
        &__text {
            font-size: 14px;
        }
    }
}

@media (max-width: 767px) {
    .header {
        &__official {
            display: none;
        }
    }
    .promo {
        min-height: 600px;
        padding-bottom: 21px;
        &__wrapper {
            align-items: center;
        }
        &__header {
            font-size: 36px;
        }
        &__subheader {
            font-size: 21px;
        }
    }
    .title {
        font-size: 24px;
        &_white {
            line-height: 32px;
            text-align: center;
        }
    }
    .advantages {
        min-height: 450px;
        padding-top: 60px;
        padding-bottom: 60px;
        &__wrapper {
            margin-top: 60px;
        }
        &__item {
            max-width: 168px;
        }
        &__subheader {
            font-size: 14px;
            margin-top: 30px;
        }
        &__descr {
            font-size: 12px;
            margin-top: 20px;
        }
    }
    .consultation {
        &__descr {
            text-align: center;
            margin-top: 40px;
        }
        &__feed-form {
            margin-top: 50px;
        }
    }
    .feed-form {
        margin: 50px auto 0;
    }
    .carousel {
        padding-bottom: 60px;
    }
    .catalog {
        padding-bottom: 60px;
        &__tabs {
            margin-top: 60px;
        }
        &__tab {
            font-size: 16px;
        }
        &__catalog-item {
            &:nth-child(n) {
                margin-right: 10px;
                margin-left: 10px;
            }
        }
    }
    .comments {
        &__title {
            margin-bottom: 60px;
        }
        &__item {
            img {
                max-width: 150px;
            }
        }
        &__descr {
            margin-left: 40px;
        }
        &__text {
            font-size: 13px;
        }
    }
}

@media (max-width: 575px) {
    .header {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        &__contacts {
            align-items: flex-start;
        }
        &__phone {
            margin-top: 10px;
            font-size: 17px;
        }
        &__button {
            width: 155px;
            margin-top: 14px;
        }
    }
    .logo {
        width: 160px;
    }
    .promo {
        &__header {
            text-align: center;
            font-size: 24px;
        }
        &__wrapper {
            margin-top: 60px;
        }
        &__subheader {
            text-align: center;
            font-size: 14px;
            line-height: 18px;
        }
        &__icons {
            flex-direction: column;
            align-items: center;
            margin-top: 50px;
        }
        &__icon {
            margin-bottom: 32px;
        }
        &__button {
            margin-top: 18px;
            width: 276px;
        }
        &__link {
            font-size: 15px;
        }
    }
    .title {
        font-size: 20px;
        &_white {
            font-size: 18px;
            line-height: 28px;
        }
    }
    .advantages {
        padding-top: 50px;
        &__wrapper {
            margin-top: 5px;
            flex-direction: column;
            align-items: center;
        }
        &__item {
            margin-top: 40px;
            max-width: 200px;
        }
        &__subheader {
            margin-top: 20px;
        }
    }
    .consultation {
        min-height: 620px;
        padding: 50px 10px 40px;
        &__descr {
            font-size: 17px;
        }
        &__button {
            width: 100%;
        }
    }
    .feed-form {
        width: 270px;
    }
    .carousel {
        .slick-dots {
            button {
                width: 14px;
                height: 14px;
            }
        }
    }
    .catalog {
        &__tabs {
            flex-direction: column;
            align-items: center;
            margin-top: 50px;
        }
        &__tab {
            font-size: 14px;
            margin-bottom: 6px;
            transform: none;
            div {
                transform: none;
            }
        }
        .button_size_s {
            width: 110px;
            height: 36px;
        }
    }
    .comments {
        &__item {
            flex-direction: column;
            align-items: center;
            padding-left: 0;
            max-width: 270px;
            margin: 0 auto 60px;
            img {
                max-width: 130px;
            }
        }
        &__descr {
            margin-left: 0;
            margin-top: 20px;
        }
        &__name {
            text-align: center;
        }
        &__subtitle {
            text-align: center;
        }
    }
}